In [2]:
from pandas import DataFrame
import pandas as pd
import numpy as np

df=pd.read_csv('metabric_oncotype.csv', sep=',')
print(df.shape)

(16, 1982)

In [10]:
df.head()

,Unnamed: 0,MB-0000,MB-0002,MB-0005,MB-0006,MB-0008,MB-0010,MB-0014,MB-0020,MB-0022,...,MB-7289,MB-7291,MB-7292,MB-7293,MB-7294,MB-7295,MB-7296,MB-7297,MB-7298,MB-7299
0,ILMN_1712803,7.566248,8.234769,8.039011,8.092238,8.415585,9.441947,7.377896,8.129803,7.957244,...,7.490149,9.267474,8.673989,7.987161,8.238265,8.343426,10.313008,9.167447,9.141524,8.292088
1,ILMN_1801119,9.194468,9.347922,7.898182,8.375892,7.529758,7.633688,8.423105,7.519424,7.711814,...,8.105384,8.051600,7.838903,8.674428,9.250107,8.243982,7.056036,8.169844,8.699038,9.466155
2,ILMN_1798582,5.446027,5.215258,5.370917,5.807287,5.248290,5.196820,5.485749,5.329218,5.413597,...,5.515532,5.848470,5.427589,4.998609,5.436549,5.216262,7.018904,5.431922,5.023287,5.066947
3,ILMN_1740762,5.783666,5.619311,5.815330,6.870478,5.807233,5.424632,5.672798,6.070664,5.566895,...,5.608964,7.631197,5.577279,5.621334,5.995631,5.643665,9.230390,5.487706,5.279934,5.342260
4,ILMN_1811014,6.438076,7.915855,8.010756,7.213844,7.905295,6.430311,8.329426,6.261636,5.587786,...,7.220279,5.679176,7.384622,6.901147,7.808446,8.597789,6.166385,7.870488,8.721391,5.898142

In [15]:
a = df.iloc[:, 0].values

In [17]:
b = [a, a, a]

In [23]:
c = np.array(b).reshape(-1)

In [21]:
d = c.reshape(-1)

In [24]:
c.shape

(48,)

In [6]:
df_var_array = df.var(axis=0).values

In [7]:
print(df_var_array.min())

1.5992822695107856

In [8]:
print(df_var_array.max())

7.448665092547584

In [9]:
print(df_var_array.mean())

4.270990270540428