http://theoncologist.alphamedpress.org/content/12/6/631.full

"Relative expression levels of the 16 genes are measured in relationship to average expression levels of five reference genes. While a majority of the genes comprising these 16 genes are estrogen receptor (ESR1, PGR, BCL2, SCUBE2) and proliferation (Ki67, STK15, Survivin, CCNB1, MYBL2) related, there are other genes (HER-2, GRB7, MMP11, CTSL2, GSTM1, CD68, BACG1)."

### estrogen receptor: 

ESR1, PGR, BCL2, SCUBE2 are all Hugo Symbol.

### proliferation related genes:

- Ki67 = MKI67
- STK15 = AURKA
- Survivin = BIRC5
- CCNB1 is alaredy in Hugo Symbol.
- MYBL2 is alaredy in Hugo Symbol.



- HER-2 = ERBB2
- GRB7 is already in Hugo Symbol.
- MMP11 is already in Hugo Symbol.
- CTSL2 is already in Hugo Symbol.

### other cancer related genes

- GSTM1 is already in Hugo Symbol.
- CD68 is already in Hugo Symbol.
- BAG1 is already in Hugo Symbol

In [2]:
import pandas as pd

In [1]:
datapath = '/Users/yutaro/GoogleDrive/github/BayesianFeature/data_preprocessing/metabric_random_subset_plus_oncotype.csv'

In [3]:
metabric_ori = pd.read_csv(datapath, sep=',')

In [4]:
metabric_ori['Unnamed: 0']

0      ILMN_1655684
1      ILMN_2398039
2      ILMN_1668432
3      ILMN_1898136
4      ILMN_1850500
5      ILMN_2349393
6      ILMN_1828285
7      ILMN_1835012
8      ILMN_1840288
9      ILMN_1776158
10     ILMN_1742993
11     ILMN_1672205
12     ILMN_1803973
13     ILMN_1746164
14     ILMN_2319292
15     ILMN_1665117
16     ILMN_1703034
17     ILMN_2331232
18     ILMN_1707380
19     ILMN_1668586
20     ILMN_1811699
21     ILMN_2313821
22     ILMN_2250445
23     ILMN_2272074
24     ILMN_2293067
25     ILMN_1697557
26     ILMN_1697704
27     ILMN_1734748
28     ILMN_1741244
29     ILMN_2374362
           ...
170    ILMN_2041788
171    ILMN_1683113
172    ILMN_1775761
173    ILMN_1905662
174    ILMN_1741288
175    ILMN_1686165
176    ILMN_2221507
177    ILMN_1898949
178    ILMN_1740589
179    ILMN_2054576
180    ILMN_1738832
181    ILMN_1661076
182    ILMN_1781290
183    ILMN_1745499
184    ILMN_1655312
185    ILMN_1827277
186    ILMN_1781073
187    ILMN_1700549
188    ILMN_1900326
189    ILMN_1748801
190    ILMN_1676844
191    ILMN_1717722
192    ILMN_1791820
193    ILMN_1765459
194    ILMN_1842346
195    ILMN_2081673
196    ILMN_1785618
197    ILMN_1343565
198    ILMN_1343643
199    ILMN_1343642
Name: Unnamed: 0, Length: 200, dtype: object

In [107]:
prob_to_hugo = {'ILMN_1678535':'ESR1', 'ILMN_1811014':'PGR',
        'ILMN_1701120':'BCL2','ILMN_1697970':'BCL2','ILMN_1801119':'BCL2',
        'ILMN_1684085':'SCUBE2', 'ILMN_1734827':'MKI67', 'ILMN_1680955':'AURKA',
        'ILMN_1710082':'BIRC5', 'ILMN_1712803':'CCNB1', 'ILMN_1709020':'MYBL2',
        'ILMN_1717902':'ERBB2', 'ILMN_1798582':'GRB7','ILMN_1740762':'GRB7',
        'ILMN_1749226':'MMP11', 'ILMN_1748352':'CTSL2',
        'ILMN_1762255':'GSTM1', 'ILMN_1668134':'GSTM1', 'ILMN_1714861':'CD68',
        'ILMN_1733970':'BAG1'}

SCUBE2, BIRC5, MMP11 are not in matabric_exp.txt

In [110]:
for i in metabric_ori['Unnamed: 0']:
    print(prob_to_hugo[i])

CCNB1
BCL2
GRB7
GRB7
PGR
AURKA
CTSL2
ERBB2
BCL2
CD68
MYBL2
MKI67
ESR1
BAG1
GSTM1
GSTM1

In [17]:
metabric_expression = pd.read_csv(datapath, sep=',') #.set_index('Hugo_Symbol').transpose().drop('Entrez_Gene_Id')

In [18]:
metabric_expression.head()

,Unnamed: 0,MB-0000,MB-0002,MB-0005,MB-0006,MB-0008,MB-0010,MB-0014,MB-0020,MB-0022,...,MB-7289,MB-7291,MB-7292,MB-7293,MB-7294,MB-7295,MB-7296,MB-7297,MB-7298,MB-7299
0,ILMN_1712803,7.566248,8.234769,8.039011,8.092238,8.415585,9.441947,7.377896,8.129803,7.957244,...,7.490149,9.267474,8.673989,7.987161,8.238265,8.343426,10.313008,9.167447,9.141524,8.292088
1,ILMN_1801119,9.194468,9.347922,7.898182,8.375892,7.529758,7.633688,8.423105,7.519424,7.711814,...,8.105384,8.051600,7.838903,8.674428,9.250107,8.243982,7.056036,8.169844,8.699038,9.466155
2,ILMN_1798582,5.446027,5.215258,5.370917,5.807287,5.248290,5.196820,5.485749,5.329218,5.413597,...,5.515532,5.848470,5.427589,4.998609,5.436549,5.216262,7.018904,5.431922,5.023287,5.066947
3,ILMN_1740762,5.783666,5.619311,5.815330,6.870478,5.807233,5.424632,5.672798,6.070664,5.566895,...,5.608964,7.631197,5.577279,5.621334,5.995631,5.643665,9.230390,5.487706,5.279934,5.342260
4,ILMN_1811014,6.438076,7.915855,8.010756,7.213844,7.905295,6.430311,8.329426,6.261636,5.587786,...,7.220279,5.679176,7.384622,6.901147,7.808446,8.597789,6.166385,7.870488,8.721391,5.898142

In [8]:
cln_path = '/Users/yutaro/Desktop/Metabric/metabric_cln.txt'
cln_data = pd.read_csv(cln_path, sep='\t')

In [9]:
cln_data.head()

,ageDiagnosis,lymphnodes,grade,histology,tumorSizeCM,chemo,hormone,radiation,HER2,ER,PR,ERPR,tripleNegative
MB-0000,75.65,10.0,3.0,IDC,22.0,0,1,1,neg,pos,neg,pos,0
MB-0002,43.19,0.0,3.0,IDC,10.0,0,1,1,neg,pos,pos,pos,0
MB-0005,48.87,1.0,2.0,IDC,15.0,1,1,0,neg,pos,pos,pos,0
MB-0006,47.68,3.0,2.0,IDC,25.0,1,1,1,neg,pos,pos,pos,0
MB-0008,76.97,8.0,3.0,IDC,40.0,1,1,1,neg,pos,pos,pos,0

In [10]:
cln_selected = cln_data[['ageDiagnosis', 'chemo', 'hormone', 'radiation', 'ER']]

In [12]:
cln_selected.head()

         ageDiagnosis  chemo  hormone  radiation   ER
MB-0000         75.65      0        1          1  pos
MB-0002         43.19      0        1          1  pos
MB-0005         48.87      1        1          0  pos
MB-0006         47.68      1        1          1  pos
MB-0008         76.97      1        1          1  pos

In [37]:
cln_selected['ER'].value_counts()

pos    1512
neg     469
Name: ER, dtype: int64

In [40]:
#TODO # Write a code that converts pos = 1 and neg = 0?
d = {'pos': 1, 'neg': 0}
cln_selected['ER'] = cln_selected['ER'].map(d)

/Users/yutaro/.pyenv/versions/3.5.2/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [42]:
cln_selected['ER'].value_counts()

1    1512
0     469
Name: ER, dtype: int64

In [19]:
metabric_expression = metabric_expression.transpose()

In [22]:
metabric_expression.rename(columns=metabric_expression.iloc[0])
metabric_expression.shape

(1982, 16)

In [23]:
metabric_expression = metabric_expression.iloc[1:]

In [24]:
metabric_expression.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
MB-0000,7.56625,9.19447,5.44603,5.78367,6.43808,7.24338,7.30177,5.53646,5.90122,11.3742,5.6473,5.27435,10.2682,6.39123,5.02734,6.29454
MB-0002,8.23477,9.34792,5.21526,5.61931,7.91585,8.2593,7.18956,5.55862,5.79704,10.4962,5.67313,5.37565,11.9983,6.6803,4.76558,6.00359
MB-0005,8.03901,7.89818,5.37092,5.81533,8.01076,8.30575,7.18584,5.37179,5.62684,11.5534,5.978,5.46028,11.9254,6.31532,3.00262,4.58987
MB-0006,8.09224,8.37589,5.80729,6.87048,7.21384,9.81603,6.50151,5.57149,6.40958,11.7158,5.86563,5.55256,10.4372,6.70351,5.50968,6.42802
MB-0008,8.41559,7.52976,5.24829,5.80723,7.9053,9.23063,6.45983,5.65532,5.78461,11.719,5.43641,5.44125,12.6027,6.20124,4.62522,5.65834

In [25]:
metabric_expression.shape

(1981, 16)

In [54]:
metabric_exp_cln = metabric_expression.join(cln_selected)

In [56]:
metabric_exp_cln.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,ageDiagnosis,chemo,hormone,radiation,ER
MB-0000,7.56625,9.19447,5.44603,5.78367,6.43808,7.24338,7.30177,5.53646,5.90122,11.3742,...,5.27435,10.2682,6.39123,5.02734,6.29454,75.65,0,1,1,1
MB-0002,8.23477,9.34792,5.21526,5.61931,7.91585,8.2593,7.18956,5.55862,5.79704,10.4962,...,5.37565,11.9983,6.6803,4.76558,6.00359,43.19,0,1,1,1
MB-0005,8.03901,7.89818,5.37092,5.81533,8.01076,8.30575,7.18584,5.37179,5.62684,11.5534,...,5.46028,11.9254,6.31532,3.00262,4.58987,48.87,1,1,0,1
MB-0006,8.09224,8.37589,5.80729,6.87048,7.21384,9.81603,6.50151,5.57149,6.40958,11.7158,...,5.55256,10.4372,6.70351,5.50968,6.42802,47.68,1,1,1,1
MB-0008,8.41559,7.52976,5.24829,5.80723,7.9053,9.23063,6.45983,5.65532,5.78461,11.719,...,5.44125,12.6027,6.20124,4.62522,5.65834,76.97,1,1,1,1

In [57]:
metabric_exp_cln[metabric_df['ageDiagnosis']==56.84]

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,ageDiagnosis,chemo,hormone,radiation,ER
MB-0455,9.10932,9.21805,5.61896,6.29255,8.10292,9.23769,7.67118,5.68805,5.67988,11.944,...,5.90325,11.4555,6.05784,6.85875,7.40768,56.84,0,1,1,1

In [49]:
jared_path = "/Users/yutaro/Desktop/brca_metabric"

In [51]:
import numpy as np

In [52]:
metabric_Time_Event = pd.read_csv(jared_path+'/data_clinical_supp_patient.txt', sep='\t')
metabric_Time_Event = metabric_Time_Event.set_index('PATIENT_ID')[['OS_MONTHS', 'OS_STATUS']]
metabric_Time_Event['OS_STATUS'] = (metabric_Time_Event['OS_STATUS'] == 'DECEASED').astype(np.int32)

In [53]:
metabric_Time_Event.head()

             OS_MONTHS  OS_STATUS
PATIENT_ID
MB-0000     140.500000          0
MB-0002      84.633333          0
MB-0005     163.100000          1
MB-0006     164.933333          0
MB-0008      41.366667          1

In [58]:
from sklearn.model_selection import train_test_split

In [77]:
metabric_df = metabric_exp_cln.join(metabric_Time_Event)

In [79]:
metabric_df.shape

(1981, 23)

In [81]:
metabric_df.isnull().sum()

0                0
1                0
2                0
3                0
4                0
5                0
6                0
7                0
8                0
9                0
10               0
11               0
12               0
13               0
14               0
15               0
ageDiagnosis     0
chemo            0
hormone          0
radiation        0
ER               0
OS_MONTHS       12
OS_STATUS       12
dtype: int64

In [83]:
metabric_df = metabric_df[pd.notnull(metabric_df['OS_MONTHS'])]

In [85]:
metabric_df = metabric_df[pd.notnull(metabric_df['OS_STATUS'])]

In [86]:
metabric_df.shape

(1969, 23)

In [87]:
metabric_train_df, metabric_test_df = train_test_split(metabric_df, test_size = 0.2)

In [88]:
metabric_test_df.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,ageDiagnosis,chemo,hormone,radiation,ER,OS_MONTHS,OS_STATUS
MB-4626,7.9209,7.45029,5.30362,6.48053,6.08143,9.22619,7.01217,5.83672,5.95319,12.2346,...,6.29397,5.23065,5.66638,64.61,0,0,1,1,143.0,1.0
MB-5550,7.9383,9.24872,5.40393,5.82563,7.13398,7.45323,7.34971,5.69607,5.84402,10.8531,...,5.97965,8.59399,9.47321,84.30,0,1,0,1,171.3,1.0
MB-3350,8.52663,9.46443,5.60434,5.78419,8.10623,7.77228,6.59932,5.40556,5.90062,11.4904,...,6.72099,5.14013,6.19112,62.62,0,1,0,1,227.8,1.0
MB-5579,8.22473,8.26166,5.28548,6.05542,6.89966,8.05955,7.05672,5.75722,5.617,12.0502,...,5.99119,5.38385,6.69947,68.82,0,1,1,1,90.6,1.0
MB-5450,9.46083,7.83116,5.48715,5.47471,6.14086,10.5085,9.90806,5.42079,5.94029,11.4714,...,5.92872,4.84471,5.66145,38.92,0,0,1,0,190.2,0.0

In [89]:
mb_x_train = metabric_train_df.drop(['OS_MONTHS', 'OS_STATUS'], axis = 1).values.astype(np.float32)
mb_e_train = metabric_train_df['OS_STATUS'].values.astype(np.int32)
mb_t_train = metabric_train_df['OS_MONTHS'].values.astype(np.float32)
mb_train = {'x': mb_x_train, 'e': mb_e_train, 't': mb_t_train}

mb_x_test = metabric_test_df.drop(['OS_MONTHS', 'OS_STATUS'], axis = 1).values.astype(np.float32)
mb_e_test = metabric_test_df['OS_STATUS'].values.astype(np.int32)
mb_t_test = metabric_test_df['OS_MONTHS'].values.astype(np.float32)
mb_test = {'x': mb_x_test, 'e': mb_e_test, 't': mb_t_test}

metabric_ds = {'train' : mb_train, 'test': mb_test}

In [96]:
mb_x_train.shape

(1575, 21)

In [91]:
num = metabric_df.isnull()

In [92]:
num.sum()

0               0
1               0
2               0
3               0
4               0
5               0
6               0
7               0
8               0
9               0
10              0
11              0
12              0
13              0
14              0
15              0
ageDiagnosis    0
chemo           0
hormone         0
radiation       0
ER              0
OS_MONTHS       0
OS_STATUS       0
dtype: int64

In [93]:
len(metabric_df.index)-metabric_df.count()

0               0
1               0
2               0
3               0
4               0
5               0
6               0
7               0
8               0
9               0
10              0
11              0
12              0
13              0
14              0
15              0
ageDiagnosis    0
chemo           0
hormone         0
radiation       0
ER              0
OS_MONTHS       0
OS_STATUS       0
dtype: int64

In [68]:
397+1584

1981

In [69]:
1523 + 381

1904

In [94]:
import h5py
def save_dataset(datasets, file):
    f = h5py.File(file)
    for (grp, ds) in datasets.items():
        grp_f = f.create_group(grp)
        for (key, value) in ds.items():
            print('Saving: (%s, %s)' % (grp, key))
            grp_f.create_dataset(key, data=value)
    f.close()

Saving: (train, t)
Saving: (train, x)
Saving: (train, e)
Saving: (test, t)
Saving: (test, x)
Saving: (test, e)

In [99]:
save_dataset(metabric_ds, file='/Users/yutaro/GoogleDrive/github/BayesianFeature/data_preprocessing/oncotype_train_test.h5')

Saving: (train, t)
Saving: (train, x)
Saving: (train, e)
Saving: (test, t)
Saving: (test, x)
Saving: (test, e)

In [101]:
metabric_ds['train']['x'].shape

(1575, 21)